.btn.pilihFotoGaleri {
  /* border: 1px solid rgb(171, 171, 171); */
  background-color: #ef3d01;
  color: white;
  margin-top: 20px;
  opacity: 80%;
}

.btn.pilihFotoGaleri:hover {
  /* border: 1px solid rgb(171, 171, 171); */
  background-color: #ef3d01;
  color: white;
  opacity: 100%;
}
.btn.pilihFotoGaleri [type="file"] {
  display: none;
}
