.btn-main-outline {
  width: 100%;
  color: #ef3d01;
  padding: 8px 16px;
  border: 1px solid #ef3d01;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  opacity: 70%;
  text-decoration: none;
  text-align: center;
}

.btn-main-outline:hover {
  opacity: 100%;
}

