.card-category {
  margin-bottom: 28px;
  padding: 10px 14px;
  /* height: 120px; */
  margin-right: 20px;
  border-radius: 10px;
}
.card-category-image {
  width: 50px;
}
.card-category-name {
  color: #4d4c7d;
  font-size: 18px;
}
