
.title-section{
    align-items: center;
    text-align: center;
}
#Body{
    height: 170px;
}
.profile-card{
    display: flex;
    align-items: center;
    margin-left: -35px;
}

.card{
    margin-bottom: 20px;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
}
.pagination{
    align-items: center;
}

#gambar{
    height: 200px;
    /* width: 100%; */
    min-width: 200px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.Jarak{
    display: flex;
    position:absolute;
    left: 17px;
    top: 310px;

}
.title{
    margin-left: 6px;
}

