.deskripsi-container {
  margin-top: 73px;
}
.deskripsi-container h2 {
  font-size: 24px;
}
.deskripsi-container p {
  text-align: justify;
}
.deskripsi-inner-container {
  margin-top: 28px;
}
.ulasan-container {
  margin-top: 73px;
}
